{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body_class %}page-color{% endblock %}

{% block body %}

{% block bandeau %}
    <div class="bandeau-info"></div>
{% endblock %}

    <div class="form-container">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        
        <form method="post" class="register-form">

            <div>
                <h1 class="form-title">Se connecter</h1>
            </div>

            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-input" autocomplete="email" required autofocus>
            
            <label for="inputPassword" class="form-label">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-input" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"

                value="{{ csrf_token('authenticate') }}">

            <!-- Uncomment the below section to add "Remember me" functionality. -->
            <!--
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
            -->

            <button class="btn form-button" type="submit">
                Se connecter
            </button>

        </form>
    </div>


{% endblock %}
