{% extends 'base.html.twig' %}

{% block title %}Liste des reservations{% endblock %}

{% block body_class %}page-color-home{% endblock %}

{% block body %}

{% block bandeau %}
<div class="bandeau-info"></div>
{% endblock %}

<div class="container-margin">
    <div class="container-showReservations">
       
        <table class="reservations-table">
            
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Téléphone</th>
                    <th>Cours</th>
                    <th>Date de réservation</th>
                    <th>Date du cours</th>
                </tr>
            </thead>
            
            <tbody>
                {% for reservation in reservations|reverse|slice(0, 10) %}
                <tr>
                    {% if reservation.user != null %}
                    <td>{{ reservation.userLastname }} {{ reservation.userFirstname }}</td>
                    <td class="td-color">
                        <a href="tel:{{ reservation.userPhone|split('', 2)|join(' ') }}">
                            {{ reservation.userPhone|split('', 2)|join(' ') }}
                        </a>
                    </td>
                    {% else %}
                    <td>Utilisateur supprimé</td>
                    <td>Utilisateur supprimé</td>
                    {% endif %}
                    <td>{{ reservation.cours }}</td>
                    <td>{{ reservation.dtResa | date("m/d/Y") }}</td>
                    <td>{{ reservation.dtCours | date("m/d/Y") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
