<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="/tarteaucitron/tarteaucitron.js"></script>
    <script src="{{ asset('js/tarteAuCitron.js') }}"></script>

    <meta charset="UTF-8">
    
    {% block metaDescription %}
    <meta name="description" content="Douceur de lune est un site proposant des cours d'allaitement, de portage de relaxation pour les jeunes ou futurs parents">
    {% endblock %}
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue sur Douceur de lune !{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/logo-croissant.webp') }}">
    {# STRIPE #}
    <script src="https://js.stripe.com/v3/"></script>
    {# JS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    {# CSS #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/payment.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {# FONTS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&family=Knewave&family=La+Belle+Aurore&display=swap" rel="stylesheet">
    {# MAP #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="crossorigin="">
    <link rel="stylesheet" href="{{ asset('css/map.css') }}">

    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    {% endblock %}
    
</head>

<body class="{% block body_class %}{% endblock %}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PP4ZK5V4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        {# Pour afficher uniquement sur le home #}
        {% if app.request.attributes.get('_route') == 'app_home' %}
        <div class="background-animation">

            <div class="full-screen">
                
                <div class="bg-image"></div>

                    <div class="overlay">
                        <div class="text-container-bis">
                            <img src="{{ asset('img/picmix.com_2359990.gif') }}" alt="Des étoiles tombent sur le centre de la page principale">
                        </div>

                        <div class="image-container">
                            <img src="{{ asset('img/LOGO6.webp') }}" alt="Image au centre de la page, c'est un cadre de miroir avec le nom du site Douceur de lune au milieu et décoré de fleurs et étoiles" class="center-image">
                        </div>

                        <div class="text-container">
                            <p class="animate-this-text" style="visibility: hidden;">Enchanter &nbsp sa &nbsp parental<img src="{{ asset('img/plante.webp') }}" alt="la phrase enchanter sa parentalité est écrite, mais le L de parentalité est en forme de fleur">ité</p>
                        </div>

                    </div>

            </div>
        
        </div>
        {% endif %}

    {# Include de la nav #}
    {% include "_partials/_nav.html.twig" %}

            {% block body %}

            {% endblock %}

    {# Include du footer #}
    {% include "_partials/_footer.html.twig" %}

    {% block javascripts %}
    
    {# Pour uniquement charger le script sur home #}
    {% if app.request.attributes.get('_route') == 'app_home' %}
    <script src="{{ asset('js/imgMouvement.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script> 
    {# Pour uniquement charger le script sur la page success #}
    {% if app.request.attributes.get('_route') == 'success_payment' %}
    <script type="text/javascript" src="{{ asset('js/checkmark.js') }}"></script>
    {% endif %} 
    
    {# TarteAuCitron #}
    <script  src="{{ asset('js/tarteAuCitron.js') }}"></script>
    
    {# AOS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
            once: true,
        });
    </script>

    {{ encore_entry_script_tags('app') }}

    {% endblock %}
</body>
</html>