<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bonjour!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo-croissant.png') }}">
        {# stripe #}
        <script src="https://js.stripe.com/v3/"></script>
        {# CSS #}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
        {# Fonts #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&family=Knewave&family=La+Belle+Aurore&display=swap" rel="stylesheet">
        {# Map #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="crossorigin=""/>
        <link rel="stylesheet" href="{{ asset('css/map.css') }}">

        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
        {% endblock %}
       
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header>

            <nav class="navbar{% if app.request.attributes.get('_route') == 'app_home' %} navbar-color {% endif %}">
                <div class="navbar-container">
                    <div class="navbar-logo">
                        <a href="/">Douceur de lune </a>
                            <img class="logo-site" src="{{ asset('img/logo-croissant.png') }}" alt=""> 
                    </div>
                    <ul class="navbar-menu">
                        {# <li><a href="/">Accueil</a></li> #}
                        <li class="dropdown">
                            <a href="#">Le Cocon</a>
                            <ul class="dropdown-menu">
                                                            {#nom du slug  cours/nom_du_slug #}
                                <li><a class="enfant-portage" href="/cours/atelier-de-portage">Portage</a></li>
                                <li><a class="enfant-allaitement" href="/cours/consultation-d-allaitement">Allaitement</a></li>
                                <li><a class="enfant-rebozo" href="/cours/rituel-rebozo">Rituel Rebozo</a></li>
                                <li><a class="enfant-cercle" href="/cours/cercle-mamans-bebes">Le cercle des mamans</a></li>
                            </ul>
                        </li>
                        
                        {# {% for cours in coursList %}
                        <li><a href="{{ path('portage', {'id': cours.id}) }}">portage</a></li>
                        {% endfor %} #}

                        <li><a href="/mon-parcours">Qui suis-je ?</a></li>
                        <li><a href="/showCours">Les prestations</a></li>
                        <li><a href="/contacts">Me contacter</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="/admin" target="_blank">Admin</a></li>
                        {% endif %}
                        {% if not app.user %}
                            <li class="mobile-link"><a href="/register">S'enregistrer</a></li>
                        {% endif %}
                        {% if app.user %}
                        <li class="mobile-link"><a class="{{ app.user ? 'red' : 'green' }}" href="/logout">Se déconnecter</a></li>
                        {% else %}
                        <li class="mobile-link"><a class="{{ app.user ? 'red' : 'green' }}" href="/login">Se connecter</a></li>
                        {% endif %}
                    </ul>
                    
                    <div class="navbar-register">
                        {% if not app.user %}
                            <li><a href="/register">S'enregistrer</a></li>
                        {% endif %}
                        {% if app.user %}
                        <li class="profil"><a href="/profil"><i class="fa-regular fa-user"></i>  Profil</a></li>
                        <li class="register-ml">
                          {# red doit changer la couleur du background du boutton #}
                            <a href="/logout">
                                <button class="{{ app.user ? 'red' : 'green' }} Btn">
                                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                                    <div class="text">Se déconnecter</div>
                                </button>
                            </a>
                        </li>
                        {% else %}
                        <li class="register-ml">
                        {# green doit changer la couleur du background du boutton #}
                        <a href="/login">
                                <button class="{{ app.user ? 'red' : 'green' }} Btn">
                                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                                    <div class="text">Se connecter</div>
                                </button>
                            </a>
                        </li>
                        {% endif %}
                    </div>
                    <div class="navbar-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </nav>  

            {% if app.request.attributes.get('_route') == 'app_home' %}
    <div class="background-animation">


        <div class="full-screen">

            {% for message in app.flashes('success') %}
                <div class="custom-alert custom-alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="bg-image"></div>

            <div class="overlay">
                <div class="text-container-bis">
                    <img src="{{ asset('img/picmix.com_2359990.gif') }}" alt="">
                </div>

                <div class="image-container">
                    <img src="{{ asset('img/LOGO6.png') }}" alt="" class="center-image">
                </div>

                <div class="text-container">
                    <p>Enchanter &nbsp sa &nbsp parenta<img src="{{ asset('img/plante.webp') }}" alt="">ité</p>
                </div>
            </div>
        </div>
{% endif %}
        </header>

        {# {% if app.request.get('_route') != 'app_home' %}
            <div class="bandeau">
        {% block bandeau %}{% endblock %}
            </div>
        {% endif %}  #}
    
            {% block body %}
            
            {% endblock %}

            {% if app.request.attributes.get('_route') != 'reservation_payment' %}
        <footer>

            <div class="footer">
                <div class="image-footer">
                    <img src="{{ asset('img/LOGO6-footer.png') }}" alt="">
                    <div class="footer-text">
                        <div class="text-center">
                           {# <p>Douceur de Lune vous propose ses itinéraires de grossesse, 
                            préparation à l'accouchement, des ateliers de portage en écharpe et des séances 
                            de massage prénatal, massage de la femme enceinte et de bébé, et soin rebozo. <br><br>  #}
                            Je me déplace pour les consultations à domicile: <br> <br>
                            - Dans un rayon entre <span>1</span> et <span>10 km</span>  autour de Prades-le-Lez : <span>5€</span> <br>
                            - Dans un rayon entre <span>10</span> et <span>20 km</span> autour de Prades-le-Lez : <span>10€</span> <br>
                            (sur place, le jour de la consultations.)
                            </p>
                        </div>
                        <div class="text-right" data-aos="fade-left" data-aos-duration="2000">
                            <p><span>CONTACT</span><br><br>
                                06 06 06 06 06 <br>
                               <a href="mailto:douceurdelune@gmail.com?subject=Ici votre sujet !&body=Ici votre contenu :">mail@douceurdelune.com</a>
                            </p> <br>
                           <div><a href="/mentionsLegales">Mentions légales</a></div> 
                           <div><a href="/politiqueDeConf">Politique de confidentialité</a></div> <br>
                        </div>
                        <div class="text-left" data-aos="fade-right" data-aos-duration="2000">
                            <p> <span>LIEU</span><br><br>
                                ADRESSE: <br>                              
                                CODE POSTAL: <br><br>                             
                                Photos : Moi, Pexels, Freepik<br>
                                Retouches : Midjourney, PhotoShop <br>
                            </p>  
                        </div>                                                     
                    </div>
                </div>
            </div>

        </footer>
            {% endif %}
        
     
        {% block javascripts %}
        {# Pour uniquement charger le script sur home #}
        {% if app.request.attributes.get('_route') == 'app_home' %}
        <script src="{{ asset('js/imgMouvement.js') }}"></script>
        {% endif %}
        <script src="{{ asset('js/script.js') }}"></script>  
        {# Map leaflet #}
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script>
            AOS.init({
                once: true,
            });
        </script>
        {% endblock %}
    </body>
</html>