{% extends 'base.html.twig' %}

{% block body_class %}page-color{% endblock %}

{% block title %}Paiement réussi{% endblock %}

{% block stylesheets %}
  <script src="{{ asset('js/payment.js') }}" defer></script>
  <link rel="stylesheet" href="{{ asset('css/payment.css') }}">
  <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
{% endblock stylesheets %}

{% block body %}

{% block bandeau %}
<div class="bandeau-info"></div>
{% endblock %}

<div class="form-success-container">

  <h1>Paiement réussi !</h1>

  <div class="checkmark"></div>

  <lottie-player src="https://lottie.host/89921b93-0db1-403f-bc52-2fca3a0a2889/uhIRfILu8X.json" background="##ffffff" speed="0.6" style="width: 300px; height: 300px"autoplay direction="1" mode="normal"></lottie-player>


  <p>Vous allez être redirigé(e)</p>

</div>

<script src="{{ asset('js/checkmark.js') }}"></script> 
<script src="{{ asset('js/script.js') }}"></script> 
{# CHECKMARK #}
{# <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> #}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>




{% endblock %}

