{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.pseudo }}{% endblock %}

{% block body_class %}page-color{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% block bandeau %}
    <div class="bandeau-info"></div>
{% endblock %}

<div class="container-mt">

    <div class="container-mt-p">

        <h1 class="margin-tb change-profil">Modifier le profil :</h1>
        
            <p class="margin-tb change-profil">Changer le pseudo</p>

            {{ form_start(changePseudoForm) }}

            <div>
                {{ form_label(changePseudoForm.pseudo) }}
                {{ form_widget(changePseudoForm.pseudo, {
                    'attr': {'class': 'form-control'}
                    }) 
                }}
                <div class="error-test">{{ form_errors(changePseudoForm.pseudo) }}</div> 
            </div>
        
            <button type="submit" class="custom-button margin-tb button-change-profil" onclick="return confirm('Êtes-vous sûr de vouloir modifier le pseudo ?')">Modifier le pseudo</button>
            {{ form_end(changePseudoForm) }}

                
        <a href="{{ path('app_user') }}">
                <button class="buttonBack">
                <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
                <span>Back</span>
            </button>
        </a>

    </div>

</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('script/script.js') }}"></script>
{% endblock %}